@tailwind base;
@tailwind components;
@tailwind utilities;

.react-kanban-board > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.react-kanban-board > div > div {
  min-width: 50px !important;
}

.react-kanban-board > div > div > div:nth-child(2) > div > div {
  width: 100%;
}
